.hero{
    .modal-video{
        background: rgba(0, 0, 0, 0.6);
    }
    .carousel-item{
        img{
            height: 400px;
            object-fit: cover;
            filter: blur(30px);
        }
    }
    .over-hero{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0.48) 100%);
        z-index: 1;
        padding-bottom: 1rem;
        .breadcrumb-item + .breadcrumb-item::before{
            color: rgba(var(--color-light),1);
        }
        .breadcrumb-item{
            font-size: 12px;
        }
        .hero-content{
            h1{
                font-size: 50px;
            }
            p{
                font-size: 18px;
                line-height: 1.75;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3; /* number of lines to show */
                        line-clamp: 3; 
                -webkit-box-orient: vertical;
            }
            .info{
                .info-item{
                    font-size: 12px;
                    color: var(--color-two);
                    p{
                        font-size: 12px;
                        color: #ffffff !important;
                    }
                }
            }
        }
    }
}
.content{
    .sidebar{
        margin-top: -10rem;
        position: relative;
        z-index: 2;
        .position-sticky{
            top: 1rem;
        }
        .img-header-inner{
            img{
                width: 100%;
                border-radius: var(--gallry-img-thumb);
                box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
            }
        }

    }
}
.related-service{
    li{
        background-color: rgba(var(--color-light), .7);
        padding:6px;
        border-radius: var(--theme-radius-button);
        margin-bottom: .5rem;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
        &:last-child{
            margin-bottom: 0;
        }
        a{
            transition: .5s;
            &:hover{
                margin-right: 5px;
            }
        }
    }
}
.banner-scrollable{
    background-color: var(--color-one);
    .scroll-text{
        width: max-content;
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -moz-animation: my-animation 50s linear infinite;
        -webkit-animation: my-animation 50s linear infinite;
        animation: my-animation 50s linear infinite;
        li{
            font-family: sans-serif !important;
            list-style:inherit !important;
            margin-left: 50px;
            text-transform:uppercase;
            font-size: 42px;
            color: var(--color-dark);
        }
    }
}
 /* for Firefox */
 @-moz-keyframes my-animation {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-20%);
      -webkit-transform: translateX(-20%);
      transform: translateX(-20%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  @keyframes my-animation2 {
    from {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  @keyframes my-animation3 {
    from {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    to {
      -moz-transform: translateX(70%);
      -webkit-transform: translateX(70%);
      transform: translateX(70%);
    }
  }
  .service-description{
    position: relative;
    padding-top: 20px;
    overflow: hidden;
    .description-box{
        background: linear-gradient(180deg, rgba(var(--color-light),1) 34.81%, rgba(255, 255, 255, 0.00) 85.84%);
        border-radius: var(--about-back-radius);
        padding: 40px 15px;
        .box{
            .id{
                position: absolute;
                top: -5rem;
            }
            .content{
                p{
                    line-height: 1.75;
                    font-family: pelak-thin;
                }
            }
        }
    }
}
.related-services{
    margin-top: 100px;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        width: 400px;
        height: 400px;
        left: 0px;
        bottom: 0;
        background: var(--color-one);
        filter: blur(120px) saturate(1.4);
    }
    &::after{
        position: absolute;
        content: "";
        width: 400px;
        height: 400px;
        right: 0px;
        bottom: 0;
        background: var(--color-two);
        filter: blur(120px);
    }
    .swiper{
        height: unset !important;
    }
    .swiper-slide{
        background: transparent !important;
        .team-card{
            border-radius: var(--about-img-one);
            padding: 10px 10px;
            background-color: rgba(var(--color-light),1);
            img{
                border-radius: var(--about-img-one);
                height: 180px;
            }
        }
    }
  }

.seo-box{
    background: linear-gradient(180deg, rgba(var(--color-light),1) 34.81%, rgba(255, 255, 255, 0.00) 85.84%);
    border-radius: var(--about-back-radius);
    margin-top: 50px !important;
    margin: 0 50px;
    padding: 50px 0;
    position: relative;
    .box{
        .button{
            transition: unset !important;
            margin: auto;
            width: max-content;
        }
        input {
            opacity: 0;
            position: absolute;
            pointer-events: none;
        }
        .p {
            display: block;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: inherit;
            word-wrap: break-word;
            transition: max-height .5s ease;
            color: #444;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            max-height: 25rem;
            -webkit-box-orient: vertical;
            line-height: 1.75rem;
            font-size: .9rem;
            position: relative;
            &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 250px;
                    background: linear-gradient(0deg, var(--color-body) 12%, rgba(255, 255, 255, 0) 100%);
            }
        
        }
        input:checked + .p {
            -webkit-line-clamp: unset;
            max-height: max-content !important;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            height: auto;
            -webkit-box-orient: vertical;
        }
        input:checked + .p::after{
            content: unset !important;
        }
        input:checked ~ .button {
            opacity: 0;
            visibility: hidden;
            max-height: 0;
        }

    }
}

.samples{
    .samples-card {
        position: relative;
        width: 100%;
        max-width: 900px;
        aspect-ratio: 1/1;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        direction: ltr;
        border-radius: var(--about-img-one);
        overflow: hidden;
        border: 5px solid rgba(var(--color-light),1);
        &::before{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: max-content;
            height: max-content;
            margin: auto;
            content: "قبل";
            background-color: rgba(0,0,0,.2);
            backdrop-filter: blur(50px);
            border-radius: 10px 0 0 10px;
            font-size: 12px;
            padding: 5px 10px;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
            z-index: 2;
            color: #fff;
        }
        &::after{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: max-content;
            height: max-content;
            margin: auto;
            content: "بعد";
            background-color: rgba(0,0,0,.2);
            backdrop-filter: blur(50px);
            border-radius: 0px 10px 10px 0px;
            font-size: 12px;
            padding: 5px 10px;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
            z-index: 2;
            color: #fff;
        }
        &:hover{
            &::after,&::before{
                content: unset !important;
            }
        }
      }
      
      .samples-card .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--about-img-one);
      }
      
      .samples-card .img.front-img {
        z-index: 1;
        /* Crop half of the front image */
        clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
      }
      
      .slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      
      /* 
      SEPERATE -webkit-slider-thumb AND -moz-range-thumb FOR CHROME AND FIREFOX, OTHERWISE RANGE INPUT CUSTOM STYLES DON'T WORK 
      */
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 7px;
        min-height: 100vh;
        cursor: pointer;
        background-color: white;
        border: 1px solid #c2c2c2;
        border-radius: 0;
      }
      
      .slider::-moz-range-thumb {
        -moz-appearance: none;
        width: 7px;
        min-height: 100vh;
        cursor: pointer;
        background-color: white;
        border: 1px solid #c2c2c2;
        border-radius: 0;
      }
      .slider-button {
        $size: 30px;
        pointer-events: none;
        position: absolute;
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: white;
        left: calc(50% - 18px);
        top: calc(50% - 18px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 12;
        
        @mixin arrow-helper() {
          content: '';
          padding: 3px;
          display: inline-block;
          border: solid #5D5D5D;
          border-width: 0 2px 2px 0;
        }
        &:after {
          @include arrow-helper();
          transform: rotate(-45deg);
        }
        &:before {
          @include arrow-helper();
          transform: rotate(135deg);
        }
      }
      
}
.related-blog{
    .related-item{
        background-color: rgba(var(--color-light), 1);
        border-radius: var(--theme-radius-button);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: .5rem;
        &:last-child{
            margin-bottom: 0;
        }
        img{
            border-radius: var(--theme-radius-button);
        }
        .date{
            color: #888;
            font-size: 11px;
        }
    }
    .swiper{
        height: unset;
        .swiper-slide{
            background: transparent;
        }
        .package-card{
            padding: 0;
            width: 100%;
            font-size: 16px;
            background-color: var(--color-one);
            color: var(--color-dark);
            border-radius: var(--about-img-one);
            overflow: hidden;
            a{
                padding: 35px 30px;
                display: block;
            }
            .arrow{
                width: 55px;
                height: 55px;
                border-radius: 50%;
                background: var(--color-one);
                filter: contrast(0.9);
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 25px !important;
                    height: 25px !important;
                    filter: contrast(1);
                }
         
            }
            .main-image{
                border-radius: var(--gallry-img-thumb);
            }
            li{
                &:last-child{
                    margin-bottom: 0;
                }
                img{
                    width: 15px;
                    margin-left: 8px;
                }
            }
            .main-price{
                font-size: 16px;
                text-align: center;
                font-weight: 700;
            }
            .old-price{
                opacity: 0.4;
            }
        }
    }
}

.comments{
    margin-top: 80px;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        width: 400px;
        height: 400px;
        left: 0px;
        bottom: 0;
        background: var(--color-two);
        filter: blur(120px);
        opacity: 0.3;
    }
    .comment-form{
        background-color: var(--color-one);
        border-radius: var(--form-radius);
        padding: 30px 30px 50px 30px;
        input,textarea{
            background-color: var(--color-one);
            filter: contrast(0.7) brightness(1.2);
            border-radius: 26px;
            border: 0;
            font-size: 14px;
            padding: 10px 20px;
            &::placeholder{
                color: #000;
            }
            &:focus{
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
                outline: unset;
                border: 0;
            }
            &:active{
                   box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
                outline: unset;
                border: 0;
            }
        }
        .btn-form{
            border-radius: 10px;
            background-color: rgba(var(--color-light), 1);
            width: 100%;
            font-size: 12px;
            padding: 12px;
            transition: .5s;
            &:hover{
                border-color: var(--color-dark);
            }
        }
    }
    .main-comment{
        background-color: rgba(var(--color-light), .7);
        backdrop-filter: blur(20px);
        border-radius: var(--gallry-img-thumb);
        padding: 20px;
    }
    .reply-comment{
        background-color: rgba(var(--color-light), .7);
        backdrop-filter: blur(20px);
        border-radius: var(--gallry-img-thumb);
        padding: 20px;
    }
}

  @media(min-width:1400px) and (max-width:1600px){
    .hero{
        .over-hero{
            padding-top: 10rem;
            .img-header-inner{
                img{
                    border-radius: var(--about-img-one);
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
                }
            }
            .hero-content{
                p{
                    font-size: 16px;
                }
            }
        }
    }
    .comments{
        .comment-form{
            padding: 20px 20px 50px 20px !important;
        }
        
    }
}
@media(min-width:1200px) and (max-width:1400px){
    .hero{
        .img-header-inner{
            img{
                border-radius: var(--about-img-one) !important;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
            }
        }
        .hero-content{
            p{
                font-size: 16px !important;
            }
        }
    }
    .comments{
        .comment-form{
            padding: 20px 20px 50px 20px !important;
        }
        
    }
}
@media(min-width:992px) and (max-width:1200px){
    .hero{
        .img-header-inner{
            img{
                border-radius: var(--about-img-one) !important;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
            }
        }
        .hero-content{
            p{
                font-size: 16px !important;
            }
            .anchors{
                a{
                    font-size: 14px;
                }
            }
        }
    }
}
@media(min-width:768px) and (max-width:992px){
    .hero{
        .carousel-item{
            img{
                height: 350px;
                object-fit: cover;
                object-position: center;
            }
        }
        .hero-content{
            .img-header-inner{
                img{
                    border-radius: var(--gallry-img-thumb);
                    width: 230px;
                    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
                }
            }
        }
        .over-hero{
            padding-bottom: 1rem;
            .hero-content{
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
    .content{
        .sidebar{
            position: unset !important;
            margin-top: 0 !important;
            z-index: unset !important;
        }
    }
    .service-description{
        .description-box{
            border-radius: var(--gallry-img-thumb);
        }
    }
    .seo-box{
        margin: 0 20px;
        padding: 30px;
        border-radius: var(--about-img-one);
    }
}
@media(min-width:576px) and (max-width:768px){
    .hero{
        .carousel-item{
            img{
                height: 500px;
                object-fit: cover;
                object-position: center;
            }
        }
        .hero-content{
            .img-header-inner{
                img{
                    border-radius: var(--gallry-img-thumb);
                    width: 230px;
                    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
                }
            }
        }
        .over-hero{
            padding-bottom: 1rem;
            .hero-content{
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 16px;
                }
            }
            .video{
                width: 100%;
                margin-right: auto;
                height: auto;
            }
        }
    }
    .service-description{
        .description-box{
            border-radius: var(--gallry-img-thumb);
            padding: 10px;
        }
    }
    .seo-box{
        margin: 0 0;
        padding: 30px;
        border-radius: var(--about-img-one);
    }
}
@media(max-width:576px){
    .hero{
        .carousel-item{
            img{
                height: 730px;
                object-fit: cover;
                object-position: center;
            }
        }
        .over-hero{
            padding-bottom: 1rem;
            .img-header-inner{
                margin-top: .5rem;
                img{
                    border-radius: var(--about-img-one) !important;
                }
            }
            .hero-content{
                h1{
                    font-size: 25px;
                    line-height: 1.5;
                }
                p{
                    font-size: 14px;
                    line-height: 2;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 4; /* number of lines to show */
                            line-clamp: 4; 
                    -webkit-box-orient: vertical;
                }
                .img-header-inner{
                    img{
                        border-radius: var(--gallry-img-thumb);
                        width: 100%;
                        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
                    }
                }
            }
            .video{
                width: 100%;
                margin-right: auto;
                height: auto;
                .btn-video{
                    position: unset;
                    width: 100%;
                }
            }
        }
        .anchors{
            flex-wrap: wrap;
            a{
                width: 100%;
                justify-content: center;
                text-align: center;
                margin: 0 !important;
                margin-bottom: 10px !important;
            }
        }
    }
    .banner-scrollable{
        .scroll-text{
            li{
                margin-left: 30px;
                font-size: 22px;
            }
        }
    }
    .service-description{
        padding-top: 10px;
        &::before{
            top: -110px !important;
            right: -250px !important;
        }
        .description-box{
            border-radius: var(--gallry-img-thumb);
            padding: 10px;
        }
        .title-section{
            position: relative;
        }
        .mySwiper{
            width: unset !important;
            .swiper-button-next,.swiper-button-prev{
                top: 55% !important;
            }
        }
    }
    .samples{
        .samples-card{
            border-width: 1px !important;
            border-radius: var(--theme-radius-button) !important;
            img{
                border-radius: var(--theme-radius-button) !important;
            }
        }
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 3px;
          }
          
          .slider::-moz-range-thumb {
            -moz-appearance: none;
            width: 3px;
          }
    }
    .related-services{
        margin-top: 50px;
        &::after{
            width: 50%;
            top: 40px;
            height: 300px;
        }
        &::before{
            top: 40px;
            width: 50%;
            height: 300px;
        }
        .team-card{
            padding: 6px 6px !important;
        }
    }
    .seo-box{
        margin: 0 0;
        padding: 30px 10px;
        border-radius: var(--about-img-one);
    }
}
@media (max-width:450px){
    .hero{
        .carousel-item{
            img{
                height: 620px !important;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
