.menu{
    .change-color{
        filter: brightness(0.2) !important;
    }
    a{
        color: var(--color-dark) !important;
    }
    .light{
        color: var(--color-dark) !important;
    }
    li{
        color: var(--color-dark) !important;
    }
    .top{
        border-bottom-color: #ccc !important ;
    }
    .drop-box{
        background-color: rgba(var(--color-light),1) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    }
    .drop-box-in{
        background-color: rgba(var(--color-light),1) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    }
    .drop-box-inn{
        background-color: rgba(var(--color-light),1) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    }
}
.hero{
    height: 300px;
    background-color: var(--color-body);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .modal-video{
        background: rgba(0, 0, 0, 0.6);
    }
    .carousel-item{
        img{
            height: 350px;
            object-fit: cover;
        }
    }
    .over-hero{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.48) 100%);
        z-index: 1;
        padding-bottom: 1rem;
        .breadcrumb-item + .breadcrumb-item::before{
            color: rgba(var(--color-light),1);
        }
        .breadcrumb-item{
            font-size: 12px;
        }
        .img-header-inner{
            img{
                border-radius: var(--service-img-radius);
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
            }
        }
        .hero-content{
            h1{
                font-size: 50px;
            }
            p{
                font-size: 18px;
                line-height: 1.75;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3; /* number of lines to show */
                        line-clamp: 3; 
                -webkit-box-orient: vertical;
            }
        }
    }
}
.banner-scrollable{
    background-color: var(--color-one);
    .scroll-text{
        width: max-content;
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -moz-animation: my-animation 50s linear infinite;
        -webkit-animation: my-animation 50s linear infinite;
        animation: my-animation 50s linear infinite;
        li{
            font-family: sans-serif !important;
            list-style:inherit !important;
            margin-left: 50px;
            text-transform:uppercase;
            font-size: 42px;
            color: var(--color-dark);
        }
    }
}
 /* for Firefox */
 @-moz-keyframes my-animation {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-20%);
      -webkit-transform: translateX(-20%);
      transform: translateX(-20%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  @keyframes my-animation2 {
    from {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  @keyframes my-animation3 {
    from {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    to {
      -moz-transform: translateX(70%);
      -webkit-transform: translateX(70%);
      transform: translateX(70%);
    }
  }
  .list-product{
    position: relative;
    .swiper{
        height: unset;
    }
    .swiper-slide{
        background: transparent;
    }
    .cat-card{
        width:100%;
        position: relative;
        background-color: rgba(var(--color-light),1);
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        border-radius: var(--theme-radius-button);
        padding: 20px 10px;
        .name-cat{
            height: 3.75rem;
            display: flex;
            flex-direction: column;
        }
        .font-md{
            font-size: 16px;
        }
        .font-num-r{
            font-size: 12px;
        }
        .img-cat{
            border-radius: 50%;
            margin: auto;
            overflow:hidden;
            background:var(--color-one);
            width: 90px;
            height: 90px;
            max-width: 100%;
            img{
                width: 100%;
            }
        }
        .arrow-box{
            width:50px;
            height:50px;
            border-radius:50%;
            background: var(--color-one);
            filter: contrast(.9);
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
    &::before{
        content: "";
        position: absolute;
        left: 100px;
        top: 500px;
        width: 300px;
        height: 300px;
        background: var(--color-two);
        filter: blur(120px) opacity(0.4);
        z-index: -2;
    }
    &::after{
        content: "";
        position: absolute;
        right: 500px;
        margin: auto;
        top: 200px;
        width: 500px;
        height: 500px;
        background: var(--color-one);
        filter: blur(120px) opacity(0.4);
        z-index: -2;
    }
    .sidebar{
        position: sticky;
        top: 1rem;
    }
    .btn-submit-filter{
        &:hover{
            border-color: var(--color-one);
        }
    }
    .categories{
        li{
            transition: 0.5s;
            &:hover{
                margin-right: 5px;
            }
        }
    }
    .color-filter{
        position: relative;
        width: max-content;
        text-align: center;
        padding-right: 0;
        p{
            margin-top: -4px !important;
        }
        input{
            position: absolute;
            inset: 0;
            margin-right: 0;
            width: 22px;
            height: 24px;
            background-position: top;
            margin: 0;
            z-index: 1;
            background-color: transparent !important;
            filter: brightness(0);
            border: 0;
            cursor: pointer;
            margin: auto;
            top: -20px;
        }
        label{
            width: 25px;
            height: 25px;
            border-radius: 6px;
            position: relative;
        }
    }
    .sort{
        li{
            margin-bottom: 0 !important;
        }
        .form-check{
            position: relative;
            padding-right: 0;
            input{
                position: absolute;
                inset: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                margin-right: 0;
                cursor: pointer;
                &:checked + label{
                    background: var(--color-dark);
                    border-color: var(--color-dark);
                    color: rgba(var(--color-light),1);
                }
            }
            label{
                border-radius: 8px;
                border: 1px solid rgba(37, 37, 37, 0.2);
                background: transparent;
                color: #444;
                padding: 2px 10px;
                cursor: pointer;
                font-size: 12px;
            }
        }
    }
    .search{
        input{
            border-radius: 10px;
            box-shadow: none;
            padding-left: 3.25rem;
            &:focus{
                border-color: #dee2e6;
            }
        }
        .spinner-border{
            width: 1rem;
            height: 1rem;
            border-width: 0.1em;
            border-style: solid;
            border-color: currentcolor currentcolor currentcolor transparent;
            border-image: none;
            position: absolute;
            z-index: 1;
            left: 33px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .filtered{
        li{
            background:color-mix(in srgb, var(--color-two) 30%, transparent) ;
            padding: 4px 6px;
            border-radius: 6px;
        }
    }
    .sort-form{
        li{
            background-color: rgba(var(--color-light), .7);
            padding:6px;
            border-radius: var(--theme-radius-button);
            margin-bottom: .5rem;
            box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
            &:last-child{
                margin-bottom: 0;
            }
            input{
                box-shadow: none;
                outline: 0;
                &:checked{
                    background-color: var(--color-dark);
                    border-color: var(--color-dark);
                }
            }
        }
    }
    li{
        margin-bottom: .5rem;
        &:last-child{
            margin-bottom: 0;
        }
        input{
            box-shadow: none !important;
            outline: 0;
            border-color: #aaa !important;
            &:checked{
                background-color: var(--color-dark);
                border-color: var(--color-dark);
            }
        }
    }
    .filter{
        .accordion-item{
            margin-bottom: 0.75rem;
            border-bottom: 0;
            border-radius: var(--theme-radius-button);
            overflow: hidden;
            &:last-child{
                margin-bottom: 0;
            }

            .accordion-button:not(.collapsed){
                color: var(--color-dark);
                background: var(--color-one);
            }
            .accordion-button{
                &.collapsed{
                    color: var(--color-dark) !important;
                }
                box-shadow: none;
            }
            .accordion-button::after{
                filter: brightness(0);
            }
        }
        .ui-slider-handle{
            border-radius: 50%;
            border: 0;
            background: var(--color-one);
            &:focus-visible{
                border: 0;
                outline: 0;
            }
        }
    }
    .lists{
        background-color: rgba(var(--color-light),1);
        border-radius: 20px;
        overflow: hidden;
    }
    .product-card{
        border: 1px solid #e5e5e5;
        position: relative;
        border-radius: var(--product-radius);
        overflow: hidden;
        .off{
            position: absolute;
            top: 0px;
            right: 20px;
            background-image: url('../../images/off.png');
            background-size: 100% 100%;
            color: #fff;
            padding: 4px 4px 16px 4px;
            font-size:13px;
            text-align: center;
           
        }
        .name{
            p{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                font-size: 14px;
              }
        }
        .price{
            height: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            p{
                color: #67D1A4;
            }
           .old-price{
            p{
                color: #555;
                opacity: .4;
                width: max-content;
                position: relative;
                font-weight: bold;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 100%;
                    height: 2px;
                    background: #555;;
                }
            }
           }
        }
        .colors{
            height: 1rem;
            overflow: hidden;
            li{
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
    }
}
.tag-item{
    background-color: rgba(var(--color-light),1);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: var(--product-radius);
    padding: 10px 30px;
    border: 1px solid  rgba(var(--color-light),1);
    color: var(--color-dark);
    transition: 0.5s;
    white-space: nowrap;
    &:hover{
        background-color: transparent;
        border: 1px solid var(--color-dark);
    }
}
.offer-card{
    .product-card{
        background: rgba(var(--color-light),1);
        border-radius: 20px;
        overflow: hidden;
        padding: 35px 15px 20px 15px;
        position: relative;
        img{
            width: 85%;
            display: flex;
            margin: auto;
        }
        .off{
            position: absolute;
            top: 0px;
            right: 20px;
            background-image: url('../../images/off.png');
            background-size: 100% 100%;
            color: #fff;
            padding: 4px 4px 16px 4px;
            font-size:13px;
            text-align: center;
        }
        .name{
            p{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                font-size: 14px;
           
              }
        }
        .price{
            height: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            p{
                color: #67D1A4;
                font-size: 16px;
            }
           .old-price{
            p{
                color: #555;
                opacity: .4;
                width: max-content;
                position: relative;
                font-weight: bold;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 100%;
                    height: 2px;
                    background: #555;;
                }
            }
           }
        }
        .countdown{
            gap: 4px;
            li{
                margin: 0 !important;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(var(--color-light),1);
                border-bottom: 2px solid var(--color-two);
                width: 3rem;
                border-radius: 6px;
                font-size: 8px;
                font-family: pelak-num;
                height: 2rem;
                align-content: center;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                span{
                    font-size: 14px;
                }
            }
        }
    }
}

.seo-box{
    background: linear-gradient(180deg, rgba(var(--color-light),1) 34.81%, rgba(255, 255, 255, 0.00) 85.84%);
    border-radius: var(--about-back-radius);
    margin-top: 50px !important;
    margin: 0 50px;
    padding: 50px 0;
    position: relative;
    .box{
        .button{
            transition: unset !important;
            margin: auto;
            width: max-content;
            display: flex;
        }
        input {
            opacity: 0;
            position: absolute;
            pointer-events: none;
        }
        .p {
            display: block;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: inherit;
            word-wrap: break-word;
            transition: max-height .5s ease;
            color: #444;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            max-height: 25rem;
            -webkit-box-orient: vertical;
            line-height: 1.75rem;
            font-size: .9rem;
            position: relative;
            &.after{
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    max-height: 250px;
                    background: linear-gradient(0deg, var(--color-body) 12%, rgba(255, 255, 255, 0) 100%);
            }
            }
     
        
        }
        input:checked + .p {
            -webkit-line-clamp: unset;
            max-height: max-content !important;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            height: auto;
            -webkit-box-orient: vertical;
        }
        input:checked + .p::after{
            content: unset !important;
        }
        input:checked ~ .button {
            opacity: 0;
            visibility: hidden;
            max-height: 0;
        }

    }
}
  @media(min-width:1400px) and (max-width:1600px){
    .hero{
        .over-hero{
            padding-top: 10rem;
            .img-header-inner{
                img{
                    border-radius: var(--about-img-one);
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
                }
            }
            .hero-content{
                p{
                    font-size: 16px;
                }
            }
        }
    }
}

@media(min-width:1200px) and (max-width:1400px){

    .hero{
        .img-header-inner{
            img{
                border-radius: var(--about-img-one) !important;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
            }
        }
        .hero-content{
            p{
                font-size: 16px !important;
            }
        }
    }
}
@media(min-width:992px) and (max-width:1200px){
    .hero{
        .img-header-inner{
            img{
                border-radius: var(--about-img-one) !important;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
            }
        }
        .hero-content{
            p{
                font-size: 16px !important;
            }
            .anchors{
                a{
                    font-size: 14px;
                }
            }
        }
    }
}
@media(min-width:768px) and (max-width:992px){
    .sort{
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        p{
            display: none !important;
        }
        ul{
            flex-direction: column;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            width: 100%;
            li{
                width: 100%;
                .form-check label{
                    padding: 8px 10px !important;
                    font-size: 14px !important
                }
            }
        }
    }
    .hero{
        height: 250px !important;
    }
    .accordion-item{
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.1) !important;
    }
    .hero{
        .carousel-item{
            img{
                height: 330px;
                object-fit: cover;
                object-position: center;
            }
        }
        .img-header-inner{
            margin-top: 2rem;
        }
        .over-hero{
            padding-bottom: 1rem;
            .hero-content{
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
    .seo-box{
        margin: 0 20px;
        padding: 30px;
        border-radius: var(--about-img-one);
    }
}
@media(min-width:576px) and (max-width:768px){
    .sort{
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        p{
            display: none !important;
        }
        ul{
            flex-direction: column;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            width: 100%;
            li{
                width: 100%;
                .form-check label{
                    padding: 8px 10px !important;
                    font-size: 14px !important
                }
            }
        }
    }
    .hero{
        height: 220px !important;
    }
    .accordion-item{
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.1) !important;
    }

    .hero{
        .carousel-item{
            img{
                height: 280px;
                object-fit: cover;
                object-position: center;
            }
        }
        .img-header-inner{
            margin-top: 2rem;
        }
        .over-hero{
            padding-bottom: 1rem;
            .hero-content{
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 16px;
                }
            }
            .video{
                width: 100%;
                margin-right: auto;
                height: auto;
            }
        }
    }
    .seo-box{
        margin: 0 0;
        padding: 30px;
        border-radius: var(--about-img-one);
    }
}
@media(max-width:576px){
    .list-product{
        &::after{
            width: 300px !important;
            right: 0 !important;
        }
        &::before{
            left: 0 !important;
        }
    }
    .product-card{
        img{
            height: 100%;
        }
        .off{
            right: unset !important;
            left: 10px;
            padding: 4px 4px 12px 4px !important;
        }
        .name{
            padding-left: 1rem;
            p{
                -webkit-box-orient:unset !important;
                -webkit-line-clamp:unset !important;
            }
        }
    }
    .tags{
        ul{
            gap: 4% !important;
        }
        li{
            width: 46%;
            a{
                width: 100%;
                display: block;
                padding: 10px 10px !important;
            }
        }
    }
    .sort{
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        p{
            display: none !important;
        }
        ul{
            flex-direction: column;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            width: 100%;
            li{
                width: 100%;
                .form-check label{
                    padding: 8px 10px !important;
                    font-size: 14px !important
                }
            }
        }
    }
    .hero{
        height: 210px !important;
    }
    .hero{
        &.brand-detail{
            height: 230px !important;
        }
    }
    .accordion-item{
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.1) !important;
    }

    .hero{
        .carousel-item{
            img{
                height: 250px;
                object-fit: cover;
                object-position: center;
            }
        }
        .over-hero{
            padding-bottom: 1rem;
            .img-header-inner{
                margin-top: .5rem;
                img{
                    border-radius: var(--about-img-one) !important;
                }
            }
            .hero-content{
                h1{
                    font-size: 25px;
                    line-height: 1.5;
                }
                p{
                    font-size: 14px;
                    line-height: 2;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 4; /* number of lines to show */
                            line-clamp: 4; 
                    -webkit-box-orient: vertical;
                }
            }
            .video{
                width: 100%;
                margin-right: auto;
                height: auto;
                .btn-video{
                    position: unset;
                    width: 100%;
                }
            }
        }
        .anchors{
            flex-wrap: wrap;
            a{
                width: 100%;
                justify-content: center;
                text-align: center;
                margin: 0 !important;
                margin-bottom: 10px !important;
            }
        }
    }
    .seo-box{
        margin: 0 0;
        padding: 30px 10px;
        border-radius: var(--about-img-one);
    }
}