.hero .modal-video {
  background: rgba(0, 0, 0, 0.6); }

.hero .carousel-item img {
  height: 350px;
  object-fit: cover; }

.hero .over-hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.48) 100%);
  z-index: 1;
  padding-bottom: 1rem; }
  .hero .over-hero .breadcrumb-item + .breadcrumb-item::before {
    color: rgba(var(--color-light), 1); }
  .hero .over-hero .breadcrumb-item {
    font-size: 12px; }
  .hero .over-hero .img-header-inner img {
    border-radius: var(--service-img-radius);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1); }
  .hero .over-hero .hero-content h1 {
    font-size: 50px; }
  .hero .over-hero .hero-content p {
    font-size: 18px;
    line-height: 1.75;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical; }

.banner-scrollable {
  background-color: var(--color-one); }
  .banner-scrollable .scroll-text {
    width: max-content;
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -moz-animation: my-animation 50s linear infinite;
    -webkit-animation: my-animation 50s linear infinite;
    animation: my-animation 50s linear infinite; }
    .banner-scrollable .scroll-text li {
      font-family: sans-serif !important;
      list-style: inherit !important;
      margin-left: 50px;
      text-transform: uppercase;
      font-size: 42px;
      color: var(--color-dark); }

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(-100%); }
  to {
    -moz-transform: translateX(-100%); } }

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(100%); } }

@keyframes my-animation {
  from {
    -moz-transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%); }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@keyframes my-animation2 {
  from {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@keyframes my-animation3 {
  from {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  to {
    -moz-transform: translateX(70%);
    -webkit-transform: translateX(70%);
    transform: translateX(70%); } }

.package-card {
  padding: 0;
  width: 100%;
  font-size: 16px;
  background-color: rgba(var(--color-light), 1);
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.1);
  color: var(--color-dark);
  border-radius: var(--about-img-one);
  overflow: hidden; }
  .package-card a {
    display: block; }
  .package-card .arrow {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: var(--color-one);
    filter: contrast(0.9);
    display: flex;
    justify-content: center;
    align-items: center; }
    .package-card .arrow img {
      width: 25px !important;
      height: 25px !important;
      filter: contrast(1); }
  .package-card .main-image {
    border-radius: var(--gallry-img-thumb); }
  .package-card .short-des {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical; }
  .package-card li:last-child {
    margin-bottom: 0; }
  .package-card li img {
    width: 15px;
    margin-left: 8px; }
