.menu .change-color {
  filter: brightness(0.2) !important; }

.menu a {
  color: var(--color-dark) !important; }

.menu .light {
  color: var(--color-dark) !important; }

.menu li {
  color: var(--color-dark) !important; }

.menu .top {
  border-bottom-color: #ccc !important; }

.menu .drop-box {
  background-color: rgba(var(--color-light), 1) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); }

.menu .drop-box-in {
  background-color: rgba(var(--color-light), 1) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); }

.menu .drop-box-inn {
  background-color: rgba(var(--color-light), 1) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); }

.banner-scrollable {
  background-color: var(--color-one); }
  .banner-scrollable .scroll-text {
    width: max-content;
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -moz-animation: my-animation 50s linear infinite;
    -webkit-animation: my-animation 50s linear infinite;
    animation: my-animation 50s linear infinite; }
    .banner-scrollable .scroll-text li {
      font-family: sans-serif !important;
      list-style: inherit !important;
      margin-left: 50px;
      text-transform: uppercase;
      font-size: 42px;
      color: var(--color-dark); }

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(-100%); }
  to {
    -moz-transform: translateX(-100%); } }

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(100%); } }

@keyframes my-animation {
  from {
    -moz-transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%); }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@keyframes my-animation2 {
  from {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@keyframes my-animation3 {
  from {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  to {
    -moz-transform: translateX(70%);
    -webkit-transform: translateX(70%);
    transform: translateX(70%); } }

.hero {
  height: 300px;
  background-color: var(--color-body);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .hero .modal-video {
    background: rgba(0, 0, 0, 0.6); }
  .hero .carousel-item img {
    height: 350px;
    object-fit: cover; }
  .hero .over-hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.48) 100%);
    z-index: 1;
    padding-bottom: 1rem; }
    .hero .over-hero .img-header-inner img {
      border-radius: var(--service-img-radius);
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1); }
  .hero .breadcrumb-item {
    font-size: 14px; }
  .hero .hero-content h1 {
    font-size: 32px; }
  .hero .hero-content p {
    font-size: 18px;
    line-height: 1.75;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical; }

.search-page .search-box input {
  background-color: rgba(var(--color-light), 1);
  border-radius: 20px !important;
  border: 0 !important;
  padding: 0.5rem 0.75rem;
  font-family: pelak-thin;
  box-shadow: none !important;
  outline: 0 !important;
  transition: 0.5s; }
  .search-page .search-box input:focus {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1) !important; }
  .search-page .search-box input::placeholder {
    color: #999 !important; }

.search-page .tabs-buttons {
  padding: 16px 0; }
  .search-page .tabs-buttons.fix {
    z-index: 12;
    background-color: var(--color-body); }
  .search-page .tabs-buttons .nav-pills {
    gap: 8px;
    justify-content: center; }
    .search-page .tabs-buttons .nav-pills li .nav-link {
      border-radius: var(--tabButton-radius);
      border: 1px solid rgba(37, 37, 37, 0.2);
      background: transparent;
      color: var(--color-dark);
      padding: 10px 20px;
      font-size: 14px;
      cursor: pointer; }
      .search-page .tabs-buttons .nav-pills li .nav-link.active {
        background: var(--color-one);
        border-color: var(--color-one); }

.search-page .result {
  background: linear-gradient(180deg, #FFF 50%, rgba(231, 224, 242, 0) 100%);
  border-radius: var(--gallry-img-thumb);
  padding: 1.5rem 1.5rem 1.5rem 1.5rem; }
  .search-page .result .product-category .cat-card {
    width: 100%;
    position: relative;
    padding: 6px 8px;
    border-bottom: 2px solid var(--color-two);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transition: 0.5s; }
    .search-page .result .product-category .cat-card .font-md {
      font-size: 14px; }
    .search-page .result .product-category .cat-card:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2); }
  .search-page .result .product-brands .brand-card {
    position: relative;
    transition: 0.5s; }
    .search-page .result .product-brands .brand-card:hover {
      margin-right: 5px; }
  .search-page .result .services .list-card img {
    border-radius: var(--arrow-btn-radius); }
  .search-page .result .services .list-card .sub-cat {
    margin-top: -2rem;
    position: relative; }
    .search-page .result .services .list-card .sub-cat .sub-cat-list {
      position: relative;
      top: -40px; }
      .search-page .result .services .list-card .sub-cat .sub-cat-list .card-body {
        border-radius: var(--theme-radius-2);
        padding-top: 45px !important; }
        .search-page .result .services .list-card .sub-cat .sub-cat-list .card-body li:last-child {
          margin-bottom: 0; }
        .search-page .result .services .list-card .sub-cat .sub-cat-list .card-body li a {
          padding: 6px 0;
          display: block;
          border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
          font-family: pelak-thin;
          color: var(--color-dark);
          transition: .5s; }
          .search-page .result .services .list-card .sub-cat .sub-cat-list .card-body li a:hover {
            padding-right: 5px; }
    .search-page .result .services .list-card .sub-cat .btn-arrow {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 2;
      padding: 14px 20px;
      box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.1);
      font-size: 14px !important; }
      .search-page .result .services .list-card .sub-cat .btn-arrow .arrow-box {
        margin-right: 0;
        width: 35px;
        height: 35px; }
        .search-page .result .services .list-card .sub-cat .btn-arrow .arrow-box img {
          width: 15px !important;
          height: 15px !important; }
  .search-page .result .samples .list-card .overlay {
    content: "";
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(var(--color-light), 1);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), transparent);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 0 0 25px 0;
    padding: 0.75rem 0.75rem;
    flex-direction: column; }
    .search-page .result .samples .list-card .overlay p {
      text-shadow: 0 0 3px #000; }
  .search-page .result .samples .list-card img {
    border-radius: var(--gallry-img-thumb); }
  .search-page .result .samples .list-card .sub-cat {
    margin-top: -2rem;
    position: relative; }
    .search-page .result .samples .list-card .sub-cat .sub-cat-list {
      position: relative;
      top: -40px; }
      .search-page .result .samples .list-card .sub-cat .sub-cat-list .card-body {
        border-radius: var(--theme-radius-2);
        padding-top: 45px !important; }
        .search-page .result .samples .list-card .sub-cat .sub-cat-list .card-body li:last-child {
          margin-bottom: 0; }
        .search-page .result .samples .list-card .sub-cat .sub-cat-list .card-body li a {
          padding: 6px 0;
          display: block;
          border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
          font-family: pelak-thin;
          color: var(--color-dark);
          transition: .5s; }
          .search-page .result .samples .list-card .sub-cat .sub-cat-list .card-body li a:hover {
            padding-right: 5px; }
    .search-page .result .samples .list-card .sub-cat .btn-arrow {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 2;
      padding: 14px 20px;
      box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.1);
      font-size: 14px; }
      .search-page .result .samples .list-card .sub-cat .btn-arrow .arrow-box {
        margin-right: 0;
        width: 35px;
        height: 35px; }
        .search-page .result .samples .list-card .sub-cat .btn-arrow .arrow-box img {
          width: 15px !important;
          height: 15px !important; }
  .search-page .result .blogs .package-card {
    padding: 0;
    width: 100%;
    font-size: 16px;
    background-color: rgba(var(--color-light), 1);
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.1);
    color: var(--color-dark);
    border-radius: var(--about-img-one);
    overflow: hidden; }
    .search-page .result .blogs .package-card a {
      display: block; }
    .search-page .result .blogs .package-card .arrow {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background: var(--color-one);
      filter: contrast(0.9);
      display: flex;
      justify-content: center;
      align-items: center; }
      .search-page .result .blogs .package-card .arrow img {
        width: 25px !important;
        height: 25px !important;
        filter: contrast(1); }
    .search-page .result .blogs .package-card .main-image {
      border-radius: var(--gallry-img-thumb); }
    .search-page .result .blogs .package-card .short-des {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical; }
    .search-page .result .blogs .package-card li:last-child {
      margin-bottom: 0; }
    .search-page .result .blogs .package-card li img {
      width: 15px;
      margin-left: 8px; }
  .search-page .result .products .product-card {
    border: 1px solid #e5e5e5;
    overflow: hidden;
    position: relative;
    border-radius: var(--product-radius); }
    .search-page .result .products .product-card .off {
      position: absolute;
      top: 0;
      right: 20px;
      background-image: url("../../images/off.png");
      background-size: 100% 100%;
      color: #fff;
      padding: 4px 4px 16px 4px;
      font-size: 13px; }
    .search-page .result .products .product-card .name p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 14px; }
    .search-page .result .products .product-card .price {
      height: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      .search-page .result .products .product-card .price p {
        color: #67D1A4; }
      .search-page .result .products .product-card .price .old-price p {
        color: #555;
        opacity: .4;
        width: max-content;
        position: relative;
        font-weight: bold; }
        .search-page .result .products .product-card .price .old-price p::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 2px;
          background: #555; }
    .search-page .result .products .product-card .colors {
      height: 1rem;
      overflow: hidden; }
      .search-page .result .products .product-card .colors li {
        width: 10px;
        height: 10px;
        border-radius: 50%; }

@media (min-width: 1400px) and (max-width: 1600px) {
  .hero .over-hero {
    padding-top: 10rem; }
    .hero .over-hero .img-header-inner img {
      border-radius: var(--about-img-one);
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1); }
    .hero .over-hero .hero-content p {
      font-size: 16px; } }

@media (min-width: 1200px) and (max-width: 1400px) {
  .hero .img-header-inner img {
    border-radius: var(--about-img-one) !important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1); }
  .hero .hero-content p {
    font-size: 16px !important; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .hero .img-header-inner img {
    border-radius: var(--about-img-one) !important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1); }
  .hero .hero-content p {
    font-size: 16px !important; }
  .hero .hero-content .anchors a {
    font-size: 14px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .hero {
    height: 250px !important; }
  .hero .carousel-item img {
    height: 330px;
    object-fit: cover;
    object-position: center; }
  .hero .img-header-inner {
    margin-top: 2rem; }
  .hero .over-hero {
    padding-bottom: 1rem; }
    .hero .over-hero .hero-content h1 {
      font-size: 40px; }
    .hero .over-hero .hero-content p {
      font-size: 16px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .hero {
    height: 220px !important; }
  .hero .carousel-item img {
    height: 280px;
    object-fit: cover;
    object-position: center; }
  .hero .img-header-inner {
    margin-top: 2rem; }
  .hero .over-hero {
    padding-bottom: 1rem; }
    .hero .over-hero .hero-content h1 {
      font-size: 40px; }
    .hero .over-hero .hero-content p {
      font-size: 16px; }
    .hero .over-hero .video {
      width: 100%;
      margin-right: auto;
      height: auto; } }

@media (max-width: 576px) {
  .product-card img {
    height: 100%; }
  .product-card .off {
    right: unset !important;
    left: 10px;
    padding: 4px 4px 12px 4px !important; }
  .product-card .name {
    padding-left: 1rem; }
    .product-card .name p {
      -webkit-box-orient: unset !important;
      -webkit-line-clamp: unset !important; }
  .hero {
    height: 210px !important; }
  .hero.brand-detail {
    height: 230px !important; }
  .hero .carousel-item img {
    height: 250px;
    object-fit: cover;
    object-position: center; }
  .hero .over-hero {
    padding-bottom: 1rem; }
    .hero .over-hero .img-header-inner {
      margin-top: .5rem; }
      .hero .over-hero .img-header-inner img {
        border-radius: var(--about-img-one) !important; }
    .hero .over-hero .hero-content h1 {
      font-size: 25px;
      line-height: 1.5; }
    .hero .over-hero .hero-content p {
      font-size: 14px;
      line-height: 2;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      /* number of lines to show */
      line-clamp: 4;
      -webkit-box-orient: vertical; }
    .hero .over-hero .video {
      width: 100%;
      margin-right: auto;
      height: auto; }
      .hero .over-hero .video .btn-video {
        position: unset;
        width: 100%; }
  .hero .anchors {
    flex-wrap: wrap; }
    .hero .anchors a {
      width: 100%;
      justify-content: center;
      text-align: center;
      margin: 0 !important;
      margin-bottom: 10px !important; }
  .search-page .result {
    padding: 2.5rem 0.5rem 1.5rem 0.5rem; }
  .search-page .product-category .cat-card {
    padding: 8px 8px !important; } }
